h1{
    color:brown;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}
.body{
    background-color:bisque;
    font-size: xx-large;
}
.quote{
    color: brown;
    text-align: justify;
}