h1{
    color:brown;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}
.body{
    background-color:bisque;
    font-size: medium;
    margin-left: 10pc;
    margin-right: 10pc;
    margin-top: 5pc;
    padding: 1pc;
}
.quote{
    color: brown;
    text-align: justify;
}