h1{
    color: blue;
    font-size: xx-large;
    font-style: italic;
    text-align: center;
}
.body{
    background-color:beige;
    font-size: xx-large;
}
.quote{
    color: brown;
    text-align: justify;
}